* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* font setup */
@font-face {
  font-family: 'typoDigit'; /* Give your font a recognizable name */
  src: url('./font/typo-digit-demo.regular.otf') format('opentype'); /* Fallback for older browsers */
  font-weight: normal; /* Adjust if your font has different weights */
  font-style: normal;  /* Adjust if your font has italic styles */
  font-display: swap; 
}

/* Main Body Styles Setup */
body {
    width: 100vw;
    height: 100vh;
}

main {
    overflow: hidden;
    border-radius: 2rem;
    max-width: 40%;
    margin: auto;
    padding: 0.5rem;
    background-color: hsla(1, 1%, 98%, 1);
    box-shadow: 0 8px 12px hsla(1, 1%, 20%, 0.25);
    border: 1px solid hsla(1, 1%, 90%, 1);
}
#container {
    background-color: hsla(1, 1%, 96%, 1);
    padding: 1.5rem;
    border-radius: 1.4rem;
    box-shadow: inset 0 0 6px hsla(1, 1%, 20%, 0.05);
}

#mainContainer {
    border: 3px solid hsla(60, 80%, 35%, 1);
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsla(60, 80%, 45%, 1);
}

#screen {
    height: 4rem;
    background-color: hsla(1, 1%, 98%, 1);
    border-radius: 0.5rem;
    padding: 1rem 1rem 0.5rem 1rem;
    box-shadow: inset 0 4px 12px hsla(1, 1%, 20%, 0.5);
    border: 2px solid hsla(60, 80%, 35%, 1);
    margin-bottom: 1rem;

    text-align: right;
}

/* screenOutput text */

#screenOutput {
    font-family: 'typoDigit', sans-serif;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.25rem;
}

/* keyboard */
#keyboard {
    display: flex;
    width: auto;
}

.group {
    flex: 1 1 0;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.regularButton {
    width: 48px;
    height: auto;
    aspect-ratio: 1 / 1;
    padding: 0.5rem 0.25rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-weight: 500;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    border-radius: 0.5rem;
    background-color: hsla(1, 0%, 98%, 1);
    color: hsla(1, 1%, 20%, 1);
    box-shadow: 0 4px 4px hsla(1, 1%, 20%, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.operationButton {
    flex: 2 1 1;
    width: 48px;
    height: auto;
    aspect-ratio: 1 / 1;
    padding: 0.5rem 0.25rem;
    font-weight: 500;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    border-radius: 0.5rem;
    background-color: hsla(20, 70%, 50%, 1);
    color: hsla(1, 1%, 98%, 1);
    box-shadow: 0 4px 4px hsla(1, 1%, 20%, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

