* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* font setup */
@font-face {
  font-family: 'typoDigit'; /* Give your font a recognizable name */
  src: url('./font/typo-digit-demo.regular.otf') format('opentype'); /* Fallback for older browsers */
  font-weight: normal; /* Adjust if your font has different weights */
  font-style: normal;  /* Adjust if your font has italic styles */
  font-display: swap; 
}

/* Main Body Styles Setup */
body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

main {
    overflow: hidden;
    border-radius: 2rem;
    min-width: 20rem;
    width: 24rem;
    margin: auto;
    padding: 0.5rem;
    background-color: hsla(1, 1%, 98%, 1);
    box-shadow: 0 24px 16px hsla(1, 1%, 20%, 0.25);
    border: 1px solid hsla(1, 1%, 90%, 1);
}
#container {
    background-color: hsla(1, 1%, 96%, 1);
    padding: 1rem;
    border-radius: 1.4rem;
    box-shadow: inset 0 0 6px hsla(1, 1%, 20%, 0.05);
}

#mainContainer {
    border: 3px solid hsla(60, 40%, 50%, 1);
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: hsla(60, 40%, 60%, 1);
}

#screen {
    height: auto;
    background-color: hsla(1, 1%, 30%, 1);
    border-radius: 0.5rem;
    padding: 1rem 1rem 0.5rem 1rem;
    box-shadow: inset 0 4px 12px hsla(1, 1%, 20%, 1);
    border: 2px solid hsla(60, 40%, 35%, 1);
    margin-bottom: 0.5rem;

    text-align: right;
}

/* screenOutput text */

#screenOutput {
    font-family: 'Courier New', monospace;
    /* font-family: 'typoDigit', sans-serif; */
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 0.25rem;
    color: hsla(60, 80%, 50%, 1);}

#screenCurrentOperation {
    /* font-family: 'typoDigit', sans-serif; */
    font-family: 'Courier New', monospace;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 0.15rem;
    color: hsla(60, 80%, 50%, 1);
}

/* keyboard */
#keyboard {
    display: flex;
    flex-direction: column;
    width: auto;
}

.group {
    flex: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.btn {
    flex: auto;
    display: inline-flex;
    min-height: 48px;
    width: auto;
    max-height: 48px;
    aspect-ratio: 1 / 1;
    padding: 0.5rem 0.5rem;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    border-radius: 0.5rem;
    background-color: hsla(1, 0%, 96%, 1);
    color: hsla(1, 1%, 30%, 1);
    box-shadow: 0 4px 4px hsla(1, 1%, 20%, 0.4);
    transition: background-color 0.2s ease;

    cursor: pointer;
    user-select: none;
}
.btn:hover {
    filter: brightness(1.05);
    box-shadow: 0 6px 4px hsla(1, 1%, 20%, 0.4);
}

.btn:active {
    box-shadow: none;
    border: 2px solid hsla(60, 40%, 40%, 0.6);
    box-shadow: inset 0 0 4px hsla(1, 1%, 20%, 0.8);
    filter: brightness(0.95);
}

